<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
    <title>Postagens</title>
</head>
<body>
    <nav class="navbar fixed-top bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand " href="/">
          <img src="/img/logo-falae.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
          FALAÊ
        </a>
            <a class="navbar-brand " href="/cad">
            New Post
          <img src="/img/mais.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        </a>
      </div>
    </nav>
    <div class="container">
        {{{body}}}
    </div>
    
</body>
</html>