<div class="row div4">
    <div class="col">
    </div>
    <div class="col div3">
    <form  class="row g-3 " action="/add" method="POST">
    <legend>Cadastro de Postagens</legend>
    <label class="form-label">Titulo:</label>
    <input class="form-control" type="text" name="titulo">
    <label class="form-label" >Conteúdo:</label>
    <textarea class="form-control" name="conteudo"></textarea><br><br>
    <button class="btn btn-primary" type="submit">Cadastrar Postagem</button>
    </form>
    </div>
    <div class="col">
    </div>
</div>  






