body{
    background: linear-gradient(180deg, #8D72E1 0%, #B9E0FF 45.83%, #B9E0FF 100%);
    background-attachment: fixed;
}
.container1{
    display: flex;
}

.container1 div{
    padding: 10px;
    margin: 10px;
}
.div2{
    filter: drop-shadow(-80px 4px 100px rgba(0, 0, 0, 0.35));
    backdrop-filter: blur(30rem);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.div3{
    filter: drop-shadow(-80px 4px 100px rgba(0, 0, 0, 0.35));
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.div4{
    position: absolute;
    left: 196px;
    top: 199px;
}


